.carousel-control-prev{
    left: -50px !important;
}
.carousel-control-next{
    right: -50px !important;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -36px !important;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel{
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
    
}
.carousel-inner{
    padding: 0 50px;
    padding-bottom: 10px;
}