@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Baloo+Da+2:wght@800&family=Sen:wght@400;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

@keyframes typing{
	from{
		width: 0;
	}
	to{
		width: 290px;
	}
}

.typing-animation{
	animation: typing 1.5s steps(100) 1s normal;
    white-space: nowrap; 
    overflow: hidden;
}

:root{
    --cor-nav: #FFF2E7;
    --cor-nav-hover: #402d2d;
    --cor-titulo-destaque: #FFF2E7;
    --cor-titulo: #FFF2E7;
    --cor-paragrafo: #FFF2E7;
    --cor-botao: #ECD6C4;
    --cor-botao-hover: #9E887F;
    --cor-botao-conteudo: #402d2d;
    --cor-conteudo: #242121;
    --cor-conteudo-projeto: #4b4141;

    --fonte-titulo-destaque: 'Baloo Da 2', cursive;;
    --fonte-titulo: 'Baloo Chettan 2', cursive;
    --fonte-paragrafo: 'Sen', sans-serif;;

}

html{
    font-size: 90.0%;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #945d50 85.61%);
}

main{
    padding: 0 15px;
}

/*****************/
/*CABEÇALHO*******/
/*****************/

header{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    margin: 20px auto;
    padding: 0 15px;
    align-items: center;    
}

.logo-portifolio{
    font-family: var(--fonte-titulo-destaque);
    font-size: 1.4rem;
    color: var(--cor-titulo-destaque);
    margin-bottom: 0 !important;
}

header nav a{
    color: var(--cor-nav);
    font-family: var(--fonte-paragrafo);
    font-size: 1.1rem;
    padding: 5px;
    margin-left: 50px;
    font-weight: bold;
}

header nav a:hover{
    color: var(--cor-nav-hover);
    transition: 0.2s;
    border-radius: 5px;
    text-decoration: none !important;
}

/********************/
/*CONTEÚDO PRINCIPAL*/
/********************/

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 40px auto 100px auto;
    gap: 30px;
    
}
.conteudo-principal h1{
    line-height: 1.1;
}
.conteudo-principal-escrito{
    color: var(--cor-paragrafo);
    font-family: var(--fonte-paragrafo);
    max-width: 438px;
    flex-grow: 6;
	flex-shrink: 1; 
	flex-basis: 160px; 
}
.conteudo-principal-titulo{
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    margin-bottom: 0 !important;
    padding: 0;
}
.conteudo-principal-titulo-destaque{
    color: var(--cor-titulo-destaque);
    font-family: var(--fonte-titulo-destaque);
    margin-bottom: 0 !important;
    font-size: 2.8rem;
    padding: 0;
    outline: 0;
}
.conteudo-principal-paragrafo{
    margin: 20px 0 !important;
    font-size: 1.1rem;
}
.conteudo-principal-imagem{
    min-width: 300px !important;
    max-width: 40% !important;
    flex-grow: 1; 
	flex-shrink: 1;
	flex-basis: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.7s;
}
.conteudo-principal-imagem:hover{
  transform: translateX(10px) scale(1.1) rotate(10deg);
  transition-delay: 0.5s;
}

/********************************/
/*CONTEÚDO SECUNDÁRIO - SKILLS***/
/********************************/

.conteudo-secundario{
    max-width: 960px;
    margin: 10px auto;
    
}
.conteudo-secundario-escrito{
    background-color: var(--cor-conteudo);
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.conteudo-secundario-subtitulo, .conteudo-projetos-subtitulo{
    color: var(--cor-paragrafo);
    font-family: var(--fonte-paragrafo);
    text-align: center;
    padding-top: 30px;
}
.conteudo-secundario-skills{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
    padding-bottom: 40px;
}
.conteudo-secundario-skills li{
    margin: 20px;
    transition: 0.4s;
}
.conteudo-secundario-skills li:hover{
    transform: scale(1.3);
}
.conteudo-secundario-skills abbr{
    cursor: pointer !important;
}
.html, .css, .bootstrap, .js, .github, .java, .banco{
    font-size: 3.5rem;
    color: var(--cor-titulo);
}

/*********************************/
/*CONTEÚDO SECUNDÁRIO - TRABALHOS*/
/*********************************/

.conteudo-projetos{
    max-width: 960px;
    margin: 40px auto;
}
.conteudo-projetos-subtitulo{
    margin-bottom: 30px;
}
.conteudo-projetos-escrito{
    background-color: var(--cor-conteudo);
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    color: var(--cor-paragrafo);
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
}
.conteudo-projetos-trabalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-conteudo-projeto);
    width: 100%;
    height: 375px;
    margin: auto;
    border-radius: 10px;
    align-items: center;
}
.conteudo-projetos-trabalho-conteudo{
    width: 350px;
    padding: 10px 25px; 
}
.conteudo-projetos-trabalho-conteudo-titulo{
    font-family: var(--fonte-titulo);
}
.conteudo-projetos-trabalho-conteudo-paragrafo{
    font-family: var(--fonte-paragrafo);
    margin-top: 20px;
}
.conteudo-projetos-trabalho-conteudo-paragrafo a{
    color: var(--fonte-paragrafo);
}
.conteudo-projetos-trabalho-conteudo-paragrafo a:hover{
    color: var(--fonte-paragrafo);
}
.img-trabalho{
    max-height: 259px;
    padding: 0px 5px;
}

/********************************/
/*RODAPÉ*************************/
/********************************/

footer{
    margin-top: 70px;
}
footer>p{
    color: var(--cor-paragrafo);
    font-family: var(--fonte-paragrafo);
    text-align: center;
    margin: 35px;
}

/********************************/
/*MEDIAS*************************/
/********************************/
@media(max-width: 870px){

}
@media (max-width: 800px){
    .conteudo-projetos-trabalho{
        height: 650px;
    }
}
@media (max-width: 638px){
    .conteudo-principal{
        margin: 40px auto 40px auto;
    }
}
@media (max-width: 610px){
    header nav a{
        display: none;
    }
    .logo-portifolio{
        display: block;
        width: 100%;
        text-align: center;
    }
}